.bottom {
    text-align: center;
    margin-top: 100px;
}

.msg-004 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
    opacity: 0.7;

}

.mountains-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    column-gap: 50px;
}

.mount {
    width: 225px;
    text-align: left;
}

.mount-pic {
    height: 290px;
    width: 225px;
    object-fit: cover;
}

.mountains-info {
    margin-top: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mount-msg {
    font-weight: bold;
    margin-left: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.mount-info {
    width: 180px;
    font-size: 12px;
    margin-left: 15px;
    color: rgb(124, 124, 124);
    padding-bottom: 15px;
}